<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li><a href="#about">About</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>
<div class="btn-group pull-right">
 <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
   <i class="icon-user"></i>
   <% if user_signed_in? %>
     <%= @user.email%>
   <% else %>
     Register/Login
   <% end %>
   <span class="caret"></span>
 </a>
 <ul class="dropdown-menu">
 <% if user_signed_in? %>
  <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
  </li>
  <% else %>
  <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
  </li>
  <% end %>
  <li class="divider"></li>
  <% if user_signed_in? %>
    <li><%= link_to('Logout', destroy_user_session_path, :method=>'delete') %></li>
  <% else %>
    <li><%= link_to('Login', new_user_session_path)  %></li>
  <% end %> 
 </ul>
</div>
<% if !@user.nil? && params[:controller] == 'home' %>
<div class="btn-grp-toolbar pull-right">
  <a class="btn btn-action btn-show-unread" data-toggle="button" href="#">
  </i>Show read</a>
</div>
<% end %>
