<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li><%= link_to('About', 'http://about.me/sdolber') %></li>
</ul>
<div class="btn-group pull-right">
 <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
   <i class="icon-user"></i>
   <% if user_signed_in? %>
     <%= current_user.email%>
   <% else %>
     Register/Login
   <% end %>
   <span class="caret"></span>
 </a>
 <ul class="dropdown-menu">
 <% if user_signed_in? %>
  <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
  </li>
  <li class="divider"></li>
  <li><%= link_to('Import', { :controller => '/subscriptions', :action => 'import' }) %></li>
  <li class="divider"></li>
  <li><%= link_to('Logout', destroy_user_session_path, :method=>'delete') %></li>
  <% else %>
  <li><%= link_to('Sign up', new_user_registration_path)  %> </li>
  <li class="divider"></li>
  <li><%= link_to('Login', new_user_session_path)  %></li>
  <% end %>
 </ul>
</div>
<% if user_signed_in? && params[:controller] == 'home' %>
<div class="btn-grp-toolbar pull-right">
  <a class="btn btn-action btn-show-unread" data-toggle="button" href="#">
    <i class="icon-eye-open"></i> Show read
  </a>
  &nbsp;
  <a class="btn btn-info btn-mark-all-read" href="#">
    <i class="icon-eraser"></i> Mark all read
  </a>
</div>
<% end %>
