<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SaveTheReader" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
           <%= render 'layouts/navigation' %>
        </div>
      </div>
    </div>
    <header class="jumbotron subhead" id="overview">
      <div class="container">
        <h1>Save The Reader</h1>
        <p class="lead">A minimalistic CSS reader.</p>
      </div>
    </header>
      <div class="container">
        <div class="row">
            <div class="span3 bs-docs-sidebar">
              <%= render 'layouts/sidebar' %>
            </div>
            <div class="span9">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
        </div>
      </div> <!--! end of .container -->
  </body>
</html>
